@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Raleway:wght@300&display=swap');

/* Ordenes Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: bold;
}   

body{
    background-color: #ffc67b;
}

/* NAVBAR */

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 130px;
    margin-top: 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    color: white;
}

#icon_menu{
    display: none;
}

.actualPage {
    border-bottom: #396a48 solid 4px;
    border-bottom-left-radius: 8px;
}

/* MEDIA QUERIES */

@media (max-width: 992px){

    body.menu_abierto{
        overflow-y: hidden;
        max-height: 100vh;
    }

    .container__header,
    main{
        padding: 20px;
    }

    .container__header .logo img{
        width: auto;
        height: 80px;
        margin-top: 0;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 36px;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 80px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 0px 0px;
        line-height: 1;
        flex-direction: column;
        text-align: center;
       
    }

    .menu nav ul li{
        padding: 20px 40px;
    }

    .menu nav ul li a {
        color: white;
    }
    
    .mostrar_menu{ /*CLASE MANIPULADA POR JS*/
        margin-top: 20px;
        padding-top: 20px;
        right: 0;
        left: 0;
        width: 100%;
        background-color: #396a48;
        height: 100%;
    }

    #productMain {
        display: flex;
        
    }

    #recipeGrid {
        height: 60vw;
        background-color: #ffc67b;
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: 322px;
        grid-template-rows: 310px 310px 310px 310px 310px 310px;
        margin-bottom: 500px;
    }

    .aboutCharacters {
        width: 100px;

    }

    .contacto_info{
        flex-direction: column;
        width: 100%!important; /* poner los estilos que ahora están en linea en el css asi no hay que poner
        el important */
    }

    .contacto_mapa{
        width: 100vw;
    }
}

/* Slideshow contenedor// carrusel// carrete */

* {box-sizing:border-box}

/*Posicion del carrusel*/

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    margin-top: 80px;
    display: flex;
    float: left;
}
x
/* Esconde las imagenes del slideshow*/

.mySlides {
  display: none;
}

/* Animacion al cambiar de foto*/

.fade {
    animation-name:fade;
    animation-duration: 1.5s;
}
 
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* FOOTER */

footer {
    padding-top: 10px;
    background-color: #e59f44;
    margin: 0;
    text-align: center;
    font-size: 16px;
    position: relative;
    width: 100%;
    border-top: #000000 1.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.icons {
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    margin-top: 10px;
}

footer i,footer p, footer b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer .uade {
    width: 240px;
}

/* Productos */

#productMain {
    display: flex;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    margin-bottom: 10%;
}

#recipeMain {
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc67b;
}


#productGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 50px;
    row-gap: 50px;
}
    

.productCell {
    border: 5px solid black;
    background-color: rgb(230, 230, 230);
    text-align: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.productCell a {
    text-decoration: none;
    color: #b4282e;
}

.productCell img {
    width: 190px;
    height: 190px;
    margin-top: 30px;
    margin-bottom: 12px;
}

/* Recetas */

#recipeGrid {
    height: 40vw;
    background-color: #ffc67b;
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 310px 310px;
    text-align: center;
    margin-bottom: 100px;
}

#recipeGrid a {
    text-decoration: none;
    color: #396a48;
    text-align: center;
}

.recipeCell img {
    width: 190px;
    height: 190px;
}

/* Conocenos */

.aboutCharacters {
    width: 900px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 60px;
}

.aboutCharacters p {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 30px;
}

.aboutCharacters img {
    width: 400px;
    height: 200px;
    margin-left: 50px;
    margin-top: 80px;
}

video-responsive {
    overflow:hindden;
    padding-bottom:400px; 
    position:relative;
    height:0;
    margin: 15px;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
}

/* Novedades */

#aboutMain {
    justify-content: center;
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc67b;
}

/*  Contacto */

#contactMain {
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc67b;
}

#contactMain img {
    float: right;
    width: 300px;
}

#contactMain p {
    float: left;
}

