@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Raleway:wght@300&display=swap');

/* Ordenes Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #ffc67b;
}

/* NAVBAR */

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 130px;
    margin-top: 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
    color: white;
}

#icon_menu{
    display: none;
}

/* MEDIA QUERIES */

@media (max-width: 992px){

    .container__header,
    main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 56px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #cac9c6;
       
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .mostrar_menu{ /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }
    #productGrid {
        height: 60vw;
        background-color: #ffc67b;
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: 322px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        margin-bottom: 500px;
    }

    #recipeGrid {
        height: 60vw;
        background-color: #ffc67b;
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: 322px;
        grid-template-rows: 310px 310px 310px 310px 310px 310px;
        margin-bottom: 500px;
    }

    #productFooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;

    }

    .aboutCharacters {
        width: 400px;

    }
}

/* Slideshow contenedor// carrusel// carrete */

* {box-sizing:border-box}

/*Posicion del carrusel*/

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    margin-top: 80px;
    display: flex;
    float: left;
}
x
/* Esconde las imagenes del slideshow*/

.mySlides {
  display: none;
}

/* Animacion al cambiar de foto*/

.fade {
    animation-name:fade;
    animation-duration: 1.5s;
}
 
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* FOOTER */

footer {
    padding-top: 10px;
    background-color: #e59f44;
    margin: 0;
    text-align: center;
    font-size: 16px;
    position: rela;
    width: 100%;
    border-top: #000000 1.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.icons {
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    margin-top: 10px;
}

footer .uade {
    width: 240px;
}

/* Productos */

#productMain {
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc67b;
}

#productGrid {
    height: 60vw;
    background-color: #ffc67b;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: 322px 322px 322px;
    grid-template-rows: 350px 350px;
}

.productCell {
    border: 5px solid black;
    background-color: rgb(230, 230, 230);
    text-align: center;
}

.productCell a {
    text-decoration: none;
    color: inherit
}

.productCell img {
    width: 312px;
    height: 325px;
}

/* RECETAS */

#recipeGrid {
    height: 60vw;
    background-color: #ffc67b;
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: 322px 322px 322px;
    grid-template-rows: 310px 310px;
}

#recipeGrid a {
    text-decoration: none;
}

.recipeCell {
    border: 5px solid black;
    background-color: rgb(230, 230, 230);
    text-align: center;
}

.recipeCell img {
    width: 312px;
    height: 300px;
}

/* Conocenos */

.aboutCharacters {
    width: 700px;
    border: 2px solid black;
    display: flex;
}

.aboutCharacters p {
    margin-left: 1em;
    margin-right: 1em;
}

.aboutCharacters img {
    width: 250px;
    border: 1px solid black
}

/* Novedades */

#aboutMain {
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc67b;
}

/*  Contacto */

#contactMain {
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc67b;
}

#contactMain img {
    float: right;
    width: 300px;
}

#contactMain p {
    float: left;
}
/*Formulario de contacto*/
.form-contacto {
    width: 500px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.cargando {
    width: 20%;
    margin-left: 40%;
    display:none;

}  
.enviado {
    text-align: center;
    display:none;
    font-family: 'calibri';
    color:#ffff;
    
}
.form-contacto h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
    
.form-contacto .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
/*Formulario de novedades*/
.form-novedades {
    width: 500px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
  }
.form-novedades .botons {
    text-align: right;
    display: flex;
    background: #1f53c5;
    border: none;
    padding: 10px;
    color: white;
    margin: 16px 0;
    margin-top: 0px;
    font-size: 16px;
    float:right;

}

.controls-novedades {
    width: 500px;
    height: 40px;
    background: #ffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(10, 10, 10);
}
